
body{
    background-color: #94d0cc;
    color: #34656d;
}

form{
    margin-top: 70px;
}

button{
    margin-top: 70px;
}
div{
    border: 3px solid #34656d;
    height: 500px;
    width: 400px;
    text-align: center;
    padding-top: 100px;
    margin-left: 35%;
    margin-top: 10%;
    background-color: white;
}

input{
    border: 1px solid #34656d;
    text-align: center;
}

.btn{
    background-color: #34656d;
    color: white;
    border-color: #a9f1df;
}